# Task-3 Connecting MySQL to Python

In [5]:
import pandas as pd
import pymysql

In [7]:
conn = pymysql.connect(
    host = "localhost",
    user = "root",
    password = "Faizan@123",
    database = "sakila"
)

query = "SELECT * FROM payment WHERE amount > 10"
df = pd.read_sql(query, conn)

print(df.head())

   payment_id  customer_id  staff_id  rental_id  amount        payment_date  \
0          44            2         2       9236   10.99 2005-07-30 13:47:43
1          69            3         2       7503   10.99 2005-07-27 20:23:12
2         324           12         2      10392   10.99 2005-08-01 06:50:26
3         342           13         2       8831   11.99 2005-07-29 22:37:41
4         551           21         1       3212   10.99 2005-06-21 01:04:35

          last_update
0 2006-02-15 22:12:30
1 2006-02-15 22:12:30
2 2006-02-15 22:12:31
3 2006-02-15 22:12:31
4 2006-02-15 22:12:33

C:\Users\fk200\AppData\Local\Temp\ipykernel_14056\1234941837.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

# Task-5 Pandas .merge() (JOIN)

In [9]:
customers = pd.read_sql("SELECT * FROM customer", conn)
payments = pd.read_sql("SELECT * FROM payment", conn)

merged = pd.merge(customers, payments, on = 'customer_id', how = 'inner')
print(merged.head())

C:\Users\fk200\AppData\Local\Temp\ipykernel_14056\544955472.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql("SELECT * FROM customer", conn)
C:\Users\fk200\AppData\Local\Temp\ipykernel_14056\544955472.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments = pd.read_sql("SELECT * FROM payment", conn)

   customer_id  store_id first_name last_name             email  address_id  \
0            1         1       MARY     SMITH  test@example.com           5
1            1         1       MARY     SMITH  test@example.com           5
2            1         1       MARY     SMITH  test@example.com           5
3            1         1       MARY     SMITH  test@example.com           5
4            1         1       MARY     SMITH  test@example.com           5

   active         create_date       last_update_x  payment_id  staff_id  \
0       1 2006-02-14 22:04:36 2025-07-28 16:30:41           1         1
1       1 2006-02-14 22:04:36 2025-07-28 16:30:41           2         1
2       1 2006-02-14 22:04:36 2025-07-28 16:30:41           3         1
3       1 2006-02-14 22:04:36 2025-07-28 16:30:41           4         2
4       1 2006-02-14 22:04:36 2025-07-28 16:30:41           5         2

   rental_id  amount        payment_date       last_update_y
0         76    2.99 2005-05-25 11:30:37 2006-02-15 22:12:30
1        573    0.99 2005-05-28 10:35:23 2006-02-15 22:12:30
2       1185    5.99 2005-06-15 00:54:12 2006-02-15 22:12:30
3       1422    0.99 2005-06-15 18:02:53 2006-02-15 22:12:30
4       1476    9.99 2005-06-15 21:08:46 2006-02-15 22:12:30